/* css reset............................................................... */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables     */
/* not used in this css / only for example */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar........................................................ */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

/* navbar :  logo/image */
#logo{
    margin: 3px 8px;
}

#logo img{
    height: 60px;
    margin: 3px 22px;
}

/* navbar : list styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}


#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 2px 22px;
    border-radius: 20px;
}

#navbar ul li a:hover{
     background-color: white;
     color: black;
}


/* Home Section ............................................................. */

#home{
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    background: url(../bg2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 530px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
}

#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services Section ............................................................... */

#services-container{
    margin: 20px 0px;
}
#service{
    margin: 10px 25px;
    display: flex;
    margin-bottom: 45px;
}

#services-container h1{
    text-decoration: underline;
}

#service .box{
    border: 2px solid brown;
    padding: 23px;
    margin: 1px 20px;
    border-radius: 28px;
    background-color: #e2e2e2;
}

#service .box  img{
    height: 160px;
    margin: auto;
    display: block;
    
}

#service p{
    font-family: 'Baloo Bhai 2', cursive;
}



/* Client section ....................................................................... */
#client-section{
    position: relative;
    margin: 29px 0px;
}


#client-section::before{
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}



#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients::before{
   content: "";
    position: absolute;
    height: 50%;
    width: 60%;
    z-index: -1;
    opacity: 0.4;
    background-color: white;
    border-radius: 9px;
} 

.clients-items{
    padding: 10px 20px;
} 

#clients img{
    height: 124px;
}

/* Contact section ......................................................................*/
#contact{
    position: relative;
}

#contact h1::before{
    content: "";
    position: absolute;
    height: 15%;    
    width: 20%;
    z-index: -1;
    opacity: 0.3;
    background-color: white;
    border-radius: 9px;
}

#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url(../contact.jpg)no-repeat center center/cover;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;  
    font-weight: bold;
}




/* footer............................................................................... */
footer{
    background-color: black;
    color: white;
    font-family: 'Baloo Bhai 2', cursive; 
}

/* Utility classes................................................................... */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn{
    border: 2px solid white;
    background-color: rgb(51, 47, 47);
    color: white;
    font-size: 1.2rem;
    padding: 4px 18px;
    margin: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
